/*#grid-container {
    display: grid;
}

.grid-row {
    display: flex;
    flex-grow: 1;
    width: 20px;
    height: 20px;
}

.grid-cell {
    padding: 20px;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    box-sizing: border-box;
    background-color: blue;
}